<div class="video-background">
    <video #videoBackground autoplay muted loop playsinline id="video-background">
      <source src="assets/background-video.mp4" type="video/mp4">
      Seu navegador não suporta vídeos HTML5.
    </video>
  </div>
  
  <div class="login-container">
    <div class="login-card">
        <img class="login-card__img" src="assets/logo2.png" alt="Logo">
      <div class="login-header">
        <h2 class="login-title">Login</h2>
        <p class="login-paragraph"> Bem-vindo! Faça seu login</p>
       </div>
  
      <form (submit)="login()" autocomplete="off">
        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <div class="input-group">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </div>
        <div class="forgot-password">
            <a routerLink="/forgot-password">Esqueci minha senha</a>
        </div>
        <button type="submit" class="btn-login">Entrar</button>
      </form>


    </div>
  </div>
  