
*, *::before, *::after {
    box-sizing: border-box;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}


.video-background, #video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    overflow: hidden;
}


.login-container {
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5rem;
    height: calc(100vh - 5rem); 
    box-sizing: border-box;
    z-index: 1;
    width: 100%;
}

.login-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(18, 18, 18,0.9);
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #159e5a;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    transform: scale(1); 
    transition: transform 0.3s ease-in-out; 
}


.login-card__img {
    width: 50%;
    max-width: 200px;
    height: auto;
    margin: 0 auto 1rem auto;
}

.login-header {
    position: relative; 
    margin: 2rem 0;
}

.login-header::before {
    content: '';
    display: block;
    width: 100%; 
    height: 3px;
    background-color: #159e5a; 
    position: absolute;
    top: -20px;
    left: 0;
}


.login-title {
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    font-size: 2rem;
}


.login-paragraph {
    color: rgba(255, 246, 246, 0.5);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
}

/* Agrupamento de inputs */
.input-group {
    margin-bottom: 1.2rem; 
    padding: 0;
}

/* Estilos dos labels */
label {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    display: block;
    color: white;
    font-size: 1rem;
    margin-bottom: 0.3rem;
}

/* Estilos dos inputs */
input {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 300;
    width: 100%;
    padding: 0.625rem; 
    border: 1px solid #159e5a;
    border-radius: 0.3125rem; 
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

/* Mensagem de erro */
.error-message {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    color: red;
    margin-bottom: 1rem;
    font-weight: 300;
}

/* Estilos do botão de login */
.btn-login {
    padding: 1rem; 
    background-color: white;
    color: black;
    border: none;
    border-radius: 1rem; 
    cursor: pointer;
    font-size: 1rem; 
    font-weight: 600;
    margin-top: 2rem; 
    width: 30%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #159e5a;
}

.back-to-login {
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.back-to-login a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.back-to-login a:hover {
    color: #159e5a;
}

/* Mensagem de confirmação */
.confirmation-message {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 1rem;
    color: green;
    margin-bottom: 1rem;
    font-weight: 300;
}



/* Estilos responsivos */

@media (max-width: 800px){
    .login-container{
        height: calc(100vh - 2.5rem);
        padding-top: 2.5rem; /* Ajusta o padding para telas menores */
    }
}

@media (max-width: 600px) {
    
    .login-card {
        padding: 1rem;
        width: 90%;
        max-width: none;
    }
    .login-card__img {
        width: 60%;
        max-width: 150px;
    }
    .login-title {
        font-size: 1.5rem;
    }
    .login-paragraph {
        font-size: 1rem;
    }
    label, input, .btn-login {
        font-size: 1rem;
    }
    .input-group {
        margin-bottom: 1rem;
    }
}

@media (max-width: 400px) {
    .login-card {
        padding: 0.5rem;
        width: 80%;
    }
    .login-card__img {
        width: 80%;
        max-width: 120px;
    }
    .login-title {
        font-size: 1.2rem;
    }
    .login-paragraph, label, input, .btn-login {
        font-size: 0.9rem;
    }
    .btn-login {
        width: auto;
    }
    .input-group {
        margin-bottom: 0.8rem;
        padding: 0;
    }
}

@media (min-width: 2000px) {
    .login-card {
        padding: 2rem;
        width: 80%;
        max-width: 1200px;
    }
    .error-message{
	font-size: 2rem;
    }
    .login-card__img {
        width: 50%;
        max-width: 300px;
    }
    .login-title {
        font-size: 3rem;
    }
    .login-paragraph {
        font-size: 1.5rem;
    }
    label, input, .btn-login, a {
        font-size: 2rem;
    }
    .input-group {
        margin-bottom: 2rem;
    }
    .btn-login {
        width: 15%;
    }

}

@media (max-height: 900px) {
    .login-container{
        height: calc(100vh - 1.5rem);
        padding-top: 1.5rem; /* Ajusta o padding para telas menores */
    }
    .login-card {
        transform: scale(0.9); /* Reduz o tamanho do card */
        
    }

}

@media (max-height: 700px) {
    .login-container{
        height: calc(100vh - 1rem);
        padding-top: 1rem; /* Ajusta o padding para telas menores */
    }
    .login-card {
        transform: scale(0.8); /* Reduz o tamanho do card */
        
    }
    .login-title, .login-paragraph, label, input, .btn-login {
        font-size: 0.9rem; /* Reduz tamanho de fonte */
    }
}

@media (max-height: 600px) {
    .login-container{
        height: calc(100vh - 0.7rem);
        padding-top: 0.7rem; /* Ajusta o padding para telas menores */
    }
    .login-card {
        transform: scale(0.8); /* Reduz o tamanho do card */
        
    }
    .login-title, .login-paragraph, label, input, .btn-login {
        font-size: 0.9rem; /* Reduz tamanho de fonte */
    }
}

@media (max-height: 500px) {
    .login-container {
        height: calc(100vh - 0.5rem);;
        padding-top: 0.5rem; /* Ajusta padding para telas menores */
    }
    .login-card {
        transform: scale(0.7); /* Reduz mais para alturas menores */
    }
    .login-title, .login-paragraph, label, input, .btn-login {
        font-size: 0.8rem; /* Ajusta fontes */
    }
}

/* Ajuste para telas menores que 400px de altura */
@media (max-height: 400px) {
    .login-container {
        height: 100vh;
        padding-top: 0; /* Ajusta padding para telas menores */
    }
    .login-card {
        transform: scale(0.6); /* Reduz tamanho do card */
        margin: 0
    }
    .login-card__img {
        display: none; /* Oculta a imagem */
    }
}
