<div class="modal-overlay" (click)="onCloseModal()"></div>
<div class="modal-container">
  <div class="modal-header">
    <h1>Configuração do Google Authenticator</h1>
    <button class="close-button" (click)="onCloseModal()">✕</button>
  </div>
  <div class="modal-body">
    <h2>Instruções</h2>
    <div class="modal-body__instructions"> 
      <p>1. Baixe o aplicativo <b>Google Authenticator</b> no seu smartphone.</p>
      <p>2. Abra o aplicativo e clique em <b>Adicionar conta</b> ou no ícone de <b>+</b>.</p>
      <p>3. Selecione <b>Ler QR code</b> e escaneie o QR Code abaixo.</p>
    </div>
    <img *ngIf="qrCodeImage" [src]="qrCodeImage" alt="QR Code" class="qr-code-image">
    <p> Uma vez que tiver escaneado o QR code, <a (click) = "openModalCodeEmit()"><b>clique aqui</b></a>.</p>
  </div>
</div>
